<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 콘솔 텍스트 로깅을 위한 appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- HTTP 요청 관련 로거 설정 -->
    <logger name="park.bumsiku.controller" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="park.bumsiku.log.LoggingFilter" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <!-- 모든 로그는 콘솔으로 -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>